*{
    padding:0;
    margin:0;
}
body{
    background-color: rgb(177, 116, 126);
    margin: 0;
    height: 100vh;
    /* display: flex;
    justify-content: center;
    align-items: center; */

}
.hover-container {
    width: 300px; /* Adjust as needed */
    height: 200px; /* Adjust as needed */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    transition: background-image 0.3s ease;
    background-size: cover;
    background-position: center;
    width: 80%; /* Adjust as needed */
    height: 60%; /* Adjust as needed */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    margin-left: 133px;
    background-size: cover;
    background-position: center;
    text-align: center;
    border-radius: 10px; /* Optional: For rounded corners */
    color: white; /* Adjust text color */
    padding: 20px; /* Optional: For padding around the text */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Optional: For a shadow effect */

}

.hover-container p {
    position: absolute;
    font-size: 20px; /* Adjust as needed */
    color: white; /* Adjust text color */
    margin: 0;
    transition: opacity 0.3s ease;
    font-size: 24px; /* Adjust text size */
    margin: 0;

}

.hover-container .text.hidden {
    opacity: 0;
}

h1{
    margin:0;
}
#head{
    text-align: center;
    margin-top: 60px;
    margin-bottom: 18px;
    font-size: 50px;
    text-decoration: underline;
}
